

.Banner-Detail{
    display: flex;
    height: max-content;
}

.Detail-Main-part{
    width : 100%;
    font-family: YES24;

}

.Banner-Add{
    padding-left : 2%;
    padding-top : 15px;
}
.banner-add-text {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}

.banner-add {
    width : 540px;
    padding: 100px;
    margin-top : 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.banner-add-icon{
    position: relative;
    left : 30%;
}

/* Upload 한 배너 */

.Banner-Collection{
    padding-left : 2%;
    padding-top : 15px;
}

.banner-detail-text{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}

ul li {
    list-style:none;
    float: left;
    margin-right: 33px;
    margin-bottom: 34px;
}

.banner-image {
    width: 542px;
    height: 297px;
}