.banner-add-text {
    position: absolute;
    Height: 39.82px;
    /* left: 268px; */
    right: 70.53%;
    top: 70px;
    bottom: 90.72%;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.banner-add {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 542px;
    height: 297px;  
    left: 268px;
    right: 37px;
    top: 100px;
    bottom: 70.9%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Banner-Collection {
    position: absolute;
    width: 1200px;
    height: 1011px;
    left: 268px;
    top: 492px;
}

.banner-images{
    position: absolute;
    top: 5%;
}

.banner-image {
    width: 542px;
    height: 297px;
}

ul li {
    list-style:none;
    float: left;
    margin-right: 33px;
    margin-bottom: 34px;
}

.banner-detail-text {
    position: absolute;
    left: 2.5%;
    right: 70.53%;
    top: 0%;
    bottom: 65.91%;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.Banner-Detail {
    display: flex;
    width : 100%;
}

/* .Main_part {
    display: flex;
} */