@font-face {
    font-family: 'YES24';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YES24.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cont{
    display: flex;
    width: 100%;
}
.cont2{
    width: 100%;
}

.sex_age_area{
    display: flex; 
  
}

.sex_area{
    flex:1;
    background-color: rgb(10, 52, 127,0.05);
    margin: 0% 1.5% 3% 3%;
    padding: 2%;
}
.age_area{
    flex:1;
    background-color: rgb(10, 52, 127,0.05);
    margin: 0% 3% 3% 1.5%;
    padding: 2%;
}
.job_area{    
    background-color: rgb(10, 52, 127,0.08);
    margin: 0% 3% 3% 3%;
    padding: 2%;
}
.field_area{    
    background-color: rgb(154, 185, 185);
}
.field_area2{    
    background-color: rgb(10, 52, 127,0.08);
    margin: 0% 3% 3% 3%;
    padding: 5%;
}
.text{
    font-family: YES24;
    font-size: 18px;
    margin-bottom: 20px;
} 
.text2{
    font-size: 15px;
    margin-bottom: 20px;
    
} 
.graph{
    display: flex;
}
.detail{
    margin-left: 10%;
    /* border: aliceblue 5px solid; */
}
.block{
    display: flex;
}

.banner-statistic-text {
    margin-top: 2%;
    margin-left: 5%;
    font-family: YES24;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    
}

.basic-chart {
    display: flex;
    flex-direction: row;
}


.line2 {
    /* position: absolute;
    left: 24.38%;
    right: 4.22%;
    top: 27%;
    bottom: 87.01%; */
    border: 1px solid #C4C4C4;
}

.line3 {
    /* position: absolute;
    left: 24.38%;
    right: 4.22%;
    top: 80%;
    bottom: 61.85%; */
    border: 1px solid #C4C4C4;
    margin:0% 3% 1.5% 3%
}

