.Banner-Result {
    position: flex;
    width: 1280px;
    height: 1494px;
    background: #FFFFFF;
}

.title {
    position: absolute;
    left: 20%;
    right: 68.36%;
    top: 1%;
    bottom: 88.42%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.banner-favor-text {
    position: absolute;
    left: 24.22%;
    right: 67.42%;
    top: 30%;
    bottom: 83.33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.banner-img {
    position: absolute;
    width: 421px;
    height: 169px;
    left: 312px;
    top: 270px;
  
    left: 24.38%;
    right: 42.73%;
    top: 37%;
    bottom: 70.62%;
    background: #C4C4C4;
}

.favor-scale {
    position: absolute;
    width: 910px;
    height: 58px;
    left: 314px;
    top: 471px;
    left: 24.53%;
    right: 4.38%;
    top: 66%;
    bottom: 64.59%;
    background: #C4C4C4;
}

.banner-statistic-text {
    position: absolute;
    left: 24.22%;
    right: 67.42%;
    top: 85%;
    bottom: 57.3%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.basic-chart {
    display: flex;
    flex-direction: row;
}

.gender-chart {
    position: absolute;
    width: 329px;
    height: 199px;
    left: 312px;
    top: 661px;
    left: 24.38%;
    right: 49.92%;
    top: 97%;
    bottom: 42.44%;
    background: #C4C4C4;
}

.age-chart {
    position: absolute;
    width: 532px;
    height: 196.83px;
    left: 694px;
    top: 662.09px;
    left: 50%;
    right: 4.22%;
    top: 97%;
    bottom: 42.51%;
    background: #C4C4C4;
}

.job-chart {
    position: absolute;
    width: 912px;
    height: 247px;
    left: 312px;
    top: 896px;
    left: 24.38%;
    right: 4.38%;
    top: 130%;
    bottom: 23.49%;
    background: #C4C4C4;
}

.field-chart {
    position: absolute;
    width: 912px;
    height: 247px;
    left: 312px;
    top: 1186px;
    left: 24.38%;
    right: 4.38%;
    top: 170%;
    bottom: 4.08%;
    background: #C4C4C4;
}

.line2 {
    position: absolute;
    left: 24.38%;
    right: 4.22%;
    top: 27%;
    bottom: 87.01%;
    border: 1px solid #C4C4C4;
}

.line3 {
    position: absolute;
    left: 24.38%;
    right: 4.22%;
    top: 80%;
    bottom: 61.85%;
    border: 1px solid #C4C4C4;
}