.bbcontainer{
    display: flex;
    width: 100%;
}
.BannerBetting_main_part{
    width: 100%;
}
.banner_pick {
    position: relative;
     width: 100%; /*The size you want */
    
}

.o_contents{
    margin: auto;
    width: 80%;
}

.Category_select{
    width : 50%;
    padding-left : 40%;
}

.Refresh{
    display: flex;
    position: relative;
    left : 120px;
    cursor: pointer;
    margin-left : 100px;
    width : 300px;
    /* margin-right: 500px; */

}
.Title{
    text-align: center;
    display: flex;
    padding-left: 15%;
    padding-top : 60px;
    padding-bottom : 20px;

}

.Title_name h2 {
    font-family: YES24;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 73px;
    text-align: center;

color: #0A347F;

}

.Title_name h5{
    font-family: YES24;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 46px;
    text-align: center;

color: #000000;

}

.Title_explain{
    /* width : 70%; */
    
    align-self:center;
    justify-content: center;
    font-family: YES24;
    padding-left: 20%;
}

.Title_ranking{
    background: #0A347F;
    border-radius: 40px;
    width: 203px;
    height: 51px;

    font-family: YES24;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.Category_menu{
    display: flex;

}

.Refresh{
    display: flex;
    position: relative;
    left : 120px;
    cursor: pointer;
    margin-left : 100px;
    width : 300px;
    /* margin-right: 500px; */

}

.banner_pick {
    position: relative;
     width: 100%; /*The size you want */
    /* width: 300px;
    height: 300px; */
    /* max-width: 100%;
    width: auto !important;
    height: auto !important; */
    /* object-fit: contain */
}

.banner_pick:after {
    content: "";
    display: block;
    padding-bottom: 55%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.banner_pick .o_content {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
    pointer-events: none;
}

.Button_choice{
    display: flex;
    text-align: right;
    width : 100%;
    
    justify-content: center;
    
}

.Button_get{
    display: flex;
    /* position: relative; */
    /* left : 100px; */
    /* width : 50%;
    right: 15px; */
    /* margin-left : 30%; */
    
}
.Button_bet{
    display: flex;
   /* position: relative;
     left : 10px; 
    right: 40px;
    width : 50%;
    /* margin-left : 30%; 
    font-size: 36.0111px;*/
}
.pt_text{
    font-size: 35px;
}
.point{
    float: right;
 
    font-size: 20px;
}

#getpoint{
    border: 2.85237px solid #0A347F;
    box-sizing: border-box;
    border-radius: 57.0474px;
    font-size: 35px;
    padding-right: 10px;
    width : 250px;
    height: fit-content;
}
.tr {
    text-align: right;
    
    
}
#betpoint{
    border: 2.85237px solid #0A347F;
    box-sizing: border-box;
    border-radius: 57.0474px;
    padding-right: 16px;
    font-size: 35px;
    width : 250px;
    margin-left: 60px;
}


.Button_pick{
    background: #0A347F;
    border-radius: 50px;
    width : 100px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;   
    font-family: YES24;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}



.Category{
    position: static;
    text-align:center;
}

