@font-face {
    font-family: 'YES24';
    src: url('./YES24.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.width_option{
    width : 1440px;
    margin : auto;
    font-family: YES24;
}