.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 450px;
    margin:0 auto;
    border-radius: .3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    overflow: hidden;

    border: 2px solid #0A347F;
    box-sizing: border-box;
    border-radius: 19.5106px;
}
.modal > section > header {
    padding: 16px 64px 16px 16px;
    height: 45px;
    background-color: #0A347F;
    font-weight: 700;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* display: flex; */
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    text-align: left;

    color: #1b1b1b;
    white-space: pre-wrap;

    width: 598px;
    height: 300px;
    /* height: 200px; */
    overflow:auto;

}
.modal > section > footer {
    text-align: center;
}
.modal > section > footer button {
    width:100%;
    height: 90px;
    background: #0A347F;
    border: 2px #0A347F;
    

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;

    margin-bottom: -1px;
}
.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;
    overflow: hidden;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}