.all_login {
    position: absolute;
    width : 40%;
    top : 30%;
    left : 30%;
}

.login{
    position : relative;
    border : 1px solid black;
    padding : 30px;
    padding-bottom: 60px;
    /* left : 40%; */
    
}



.login_else{
    position : relative;
    font-size : 8px;
    color : gray;
    padding-top: 20px;
}

Button {
    float: right;
}