.login {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .image{
    height: 10px;
    width: 908px;
  }
  
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    /* padding-top: 150px; */
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    width: 100vw;
    
  }
  .login__Box {
    display: flex;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E7E855;
    border-radius: 10px;
    flex-direction: column;
  }
  .login__Text{
    line-height: 14px;
    display: flex;
    align-items: center;
    font-size: 3px;
    color: #C4C4C4;
  }
  
  .login__textBox {
    padding: 3px;
    font-size: 10px;
    background: #FFFFE3;
    border:solid #FFFFE3;
  }
  .login__textBox2 {
    padding: 3px;
    font-size: 10px;
    border:solid #FFFFFF;
    margin-top: 3px;
  }

  .login__btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 5px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #0A347F;
  }
  .login__google {
    border-radius: 10px;
    margin-top: 5px;
    background-color: #0A347F;
  }
  .login div {
    margin-top: 7px;
  }
  .login__cont {
   width: 10;
    
    background-color: blue;
    padding: 100px;
  }
  
  .corptext{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: lightgray;
    padding-right: 85%

  }
  
  