.Prototype-Detail {
    display: flex;
    width: 1280px;
    height: 720px;
    background: #FFFFFF;
}

.title {
    position: absolute;
    left: 24.22%;
    right: 59.77%;
    top: 20.14%;
    bottom: 75.97%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.prototype-add {
    position: absolute;
    width: 238px;
    height: 312px;
    left: 310px;
    top: 212px;

    left: 24.22%;
    right: 57.19%;
    top: 29.44%;
    bottom: 27.22%;
    background: #C4C4C4;
}

.prototype-add-text {
    margin-top: 60%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
