div {
    border-color: black;
    border-width: 1px;
}

h4 {
    font-weight: border;
}

.Main_part{
    position: flex;
    width : 1280px;
    background-color:pink;
}
/* Dashboard */
.Dashboard{
    position: absolute;
    left: 24.22%;
    right: 64.92%;
    top: 20.14%;
    bottom: 75.97%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;    
}

.Dashboard_corpname{
    position: flex;
    border: 1px solid black;
}

.Dashboard_banner{
    position : flex;
    border:1px solid black;
}

.Dashboard_prototype{
    position: flex;
    border: 1px solid black;
}
.row {
    margin-top: 5%;
    padding : 50px;
    /* padding-top:5%;
    border: 1px solid black; */
}
.col-md-4{
    border : 1px solid black;
}

.button {
    float : right;
    margin : 5px;
}


/* Banner */
.Banner{
    position : relative;
    padding: 50px;
    
}

.Banner_detail{
    position :relative;
    border: 1px solid black;
}
.Banner_img {
    padding : 10px;
    position: relative;
    display: inline-block;
}
.Banner_text{
    display : inline-block;
    left : 40px;
}




/* Prototype */
.Prototype{
    position : relative;
    padding: 50px;
}

.Prototype_detail{
    position: relative;
    border: 1px solid black;
}

.Prototype_img{
    position : relative;
    display: inline-block;
    padding : 10px;
    
}

.Prototype_average{
    position: absolute;
    left : 50%;
    top :10%;
    background-color: yellow;

}

.Prototype_review{
    position: relative;
    /* left : 50%; */
    top : 100px;
    display: inline-block;
}

.border {
    width : 480px;
    height: 101px;
    margin : 50px;
    border : 1px solid black;
}