.Banner-Upload {
    display: flex;
    width: 1280px;
    height: 720px;
    background: #FFFFFF;
}

.title {
    position: absolute;
    left: 24.22%;
    right: 68.98%;
    top: 44.67%;
    bottom: 53.91%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.description {
    position: absolute;
    left: 24.22%;
    right: 32.03%;
    top: 26.39%;
    bottom: 68.33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.file-select {
    position: absolute;
    width: 898px;
    height: 152px;
    left: 310px;
    top: 251px;

    left: 24.22%;
    right: 5.62%;
    top: 34.86%;
    bottom: 44.03%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.file-select-description {    
    position: absolute;
    left: 35.16%;
    right: 26%;
    top: 58%;
    bottom: 48.47%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.file-select-btn {
    position: absolute;
    width: 173px;
    height: 31px;
    left: 680px;
    top: 301px;
    background: #C4C4C4;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
    left: 40%;
    right: 50%;
    top: 30%;
    bottom: 56.74%;
}

.line {
    position: absolute;
    left: 24.22%;
    right: 4.38%;
    top: 62.5%;
    bottom: 37.5%;
    border: 1px solid #C4C4C4;
}

.banner-description-text {
    position: absolute;
    left: 24.22%;
    right: 68.98%;
    top: 66.25%;
    bottom: 30.14%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.banner-description {
    border:none;
    position: absolute;
    width: 898px;
    height: 129px;
    left: 310px;
    top: 526px;

    position: absolute;
    left: 24.22%;
    right: 5.62%;
    top: 73.06%;
    bottom: 9.03%;

    background: #C4C4C4;
}