.Top-Menu {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 1500px;
    height: 95px;
    left: 0px;
    top: 0px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 93.31%;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.logo {
    left: 3.12%;
    right: 87.73%;
    top: 2.32%;
    bottom: 95.7%;
    margin-left: 3.12%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

.profile-img {
    position: absolute;
    left: 83.52%;
    right: 12.58%;
    top: 4%;
    bottom: 94.93%;
}

.profile-circle {
    left: 1072.23px;
    right: 12.58%;
    top: 1.55%;
    bottom: 94.93%;
}

.profile-person {
    position: absolute;
    left: 83.77%;
    right: 12.83%;
    top: 1.55%;
    bottom: 95.38%;
}

.person-circle {
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    top: 18.06%;
    bottom: 48.61%;
}

.person-body {
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    top: 18.06%;
    bottom: 48.61%;
}

.user {
    position: absolute;
    left: 89.14%;
    right: 5.62%;
    top: 5%;
    bottom: 95.7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
}

.profile-detail {
    position: absolute;
    left: 95.16%;
    right: 2.97%;
    top: 40px;
    bottom: 95.85%;
}

.down-icon {
    left: 25%;
    right: 25%;
    top: 9px;
    bottom: 37.5%;
}