/* .Left-Menu:after{ clear: both; display: block; content: '' } */
.logo img{
    position :static;
    margin-top:20px;
    margin-left : 25%;
    cursor: pointer;
}


.Left-Menu {
    position :sticky;
    width: 20vw;
    left: 0%;
    height: 100vh;
    bottom: 0%;
    background: #FFFFFF;
    border-right: 1.73517px solid #E3E5E5;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
}

.content-menu{
    position :relative;
    margin-top : 30px;
    font-weight: bolder;
    color : black;
    text-decoration-line: none;
    left : -24px;
}

.content-menu > div{
    position: static;
    padding-top: 20px;
    padding-left : 1000px;
    margin-left : 10px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 58.4521px;
}

.content_img {
    margin-right: 5px;
}
.content-menu > div:hover{
    background-color: #0A347F;
    color : white;
}

.User-Span{
    padding-left:45px;
    width : 50px;
}
