.Left-Menu {
    width: 257px;
    height: 1324px;
    left: 0px;
    top: 96px;

    
    left: 0%;
    right: 79.92%;
    top: 6.76%;
    bottom: 0%;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.menu1 {
    position: absolute;
    left: 2.89%;
    right: 90.16%;
    top: 23%;
    bottom: 87.82%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu2 {
    position: absolute;
    left: 3.12%;
    right: 89.45%;
    top: 27.15%;
    bottom: 83.66%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu3 {
    position: absolute;
    left: 2.89%;
    right: 84.53%;
    top: 31.3%;
    bottom: 79.51%; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu4 {
    position: absolute;
    left: 2.89%;
    right: 84.06%;
    top: 35.45%;
    bottom: 75.35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu5 {
    position: absolute;
    left: 2.89%;
    right: 86.25%;
    top: 39.6%;
    bottom: 71.2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}