/* .Left-Menu:after{ clear: both; display: block; content: '' } */
.logo img{
    position :static;
    margin-left : 20%;
}


.Left-Menu {
    position :static;
    width: 257px;
    left: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-right: 0.2px solid gray;
}

.content-menu{
    position :relative;
    margin-top : 30px;
    font-weight: bolder;
    left : -24px;
}

.content-menu > div{
    position: static;
    padding-top: 20px;
    padding-left : 1000px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 58.4521px;
}
.content-menu > div:hover{
    background-color: #0A347F;
    color : white;
}

/* .menu1 {
    position: absolute;
    left: 2.89%;
    right: 90.16%;
    top: 23%;
    bottom: 87.82%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu2 {
    position: absolute;
    left: 3.12%;
    right: 89.45%;
    top: 27.15%;
    bottom: 83.66%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu3 {
    position: absolute;
    left: 2.89%;
    right: 84.53%;
    top: 31.3%;
    bottom: 79.51%; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu4 {
    position: absolute;
    left: 2.89%;
    right: 84.06%;
    top: 35.45%;
    bottom: 75.35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.menu5 {
    position: absolute;
    left: 2.89%;
    right: 86.25%;
    top: 39.6%;
    bottom: 71.2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
} */