.Funding_main{
    position : relative;
    
}

.Title{
    text-align: center;
}

.Category{
    position: static;
    text-align:center;
}

.Funding_vote{
    display:flex;
    position : relative;
    /* background-color: pink; */
}
.D_day {
    text-align: center;
}

.Funding_MyPick{
    /* padding-right : 20%; */
    width : 40%;
    /* margin-left : 50px; */
}

.Funding_PeoplePick{
    /* padding-right : 20%; */
    width : 40%;
    margin-left : 50px;
}

.test {
    background-color: gray;
    text-align: center;
    width : 330px;
    padding: 20px;
    margin:4px;
}